<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/OrangeBackground"
    android:orientation="vertical"
    android:weightSum="6">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:orientation="vertical"
        android:layout_weight="5.5"
        android:padding="@dimen/vertical_margin"
        android:gravity="center_horizontal|center_vertical">
        <ImageView
            android:id="@+id/logo"
            android:layout_width="100dp"
            android:layout_height="0dp"
            android:layout_weight="1"
            android:src="@drawable/goavega_logo"
            android:layout_marginTop="@dimen/margin_top" />
        <TextView
            android:id="@+id/descriptionText"
            android:layout_width="match_parent"
            android:gravity="center_horizontal|bottom"
            android:layout_height="0dp"
            android:layout_weight="1"
            android:textColor="@color/white"
            android:text="@string/LoginDescription"
            android:textSize="@dimen/medium_text"
            android:layout_below="@+id/logo" />
        <View
            android:id="@+id/line"
            android:layout_width="80dp"
            android:layout_height="0dp"
            android:layout_weight="0.02"
            android:layout_marginTop="8dp"
            android:layout_marginBottom="8dp"
            android:background="@color/white"
            android:layout_below="@+id/descriptionText" />
        <TextView
            android:id="@+id/title_text"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:gravity="center_horizontal|bottom"
            android:layout_gravity="center_horizontal|bottom"
            android:textColor="@color/white"
            android:text="@string/PoweredBy"
            android:textSize="@dimen/title_text"
            android:layout_below="@+id/logInButton"
            android:layout_weight="0.5" />
        <ImageView
            android:id="@+id/logo"
            android:layout_width="100dp"
            android:layout_height="0dp"
            android:src="@drawable/slate_logo"
            android:gravity="center_horizontal|top"
            android:layout_gravity="top|center_horizontal"
            android:layout_weight="1.0" />
    </LinearLayout>
    <Button
        android:layout_marginTop="16dp"
        android:id="@+id/logInButton"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:text="@string/Login"
        android:layout_weight="0.50"
        android:textColor="@color/white"
        android:textSize="@dimen/medium_text"
        android:layout_gravity="center_horizontal|center_vertical"
        android:background="@color/ButtonBackground"
        android:layout_below="@+id/line" />
</LinearLayout>