<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:card_view="http://schemas.android.com/apk/res-auto"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:background="@color/BackgroundGray"
    android:layout_height="wrap_content">
    <android.support.v7.widget.CardView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/parentCardView"
        android:layout_marginTop="8dp">
        <LinearLayout
            android:focusable="true"
            android:focusableInTouchMode="true"
            android:layout_width="0px"
            android:layout_height="0px" />
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:orientation="vertical"
            android:id="@+id/linearFirst">
            <LinearLayout
                android:id="@+id/content_frame"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="horizontal">
                <include
                    android:layout_weight="0.25"
                    android:id="@+id/linearOne"
                    layout="@layout/AlternativeLeaveLayout" />
                <LinearLayout
                    android:id="@+id/dateLayout"
                    android:layout_weight="0.75"
                    android:layout_toRightOf="@+id/linearOne"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:orientation="vertical"
                    android:layout_marginTop="8dp"
                    android:layout_marginBottom="8dp"
                    android:layout_marginLeft="8dp"
                    android:layout_marginRight="8dp">
                    <LinearLayout
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:layout_marginLeft="8dp"
                        android:orientation="horizontal">
                        <TextView
                            android:layout_width="0dp"
                            android:layout_height="wrap_content"
                            android:text="@string/From"
                            android:textColor="@color/TextGray"
                            android:layout_weight="0.50" />
                        <TextView
                            android:layout_width="0dp"
                            android:layout_height="wrap_content"
                            android:layout_weight="0.50"
                            android:textColor="@color/TextGray"
                            android:layout_marginLeft="8dp"
                            android:text="@string/To" />
                    </LinearLayout>
                    <LinearLayout
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:layout_marginLeft="8dp"
                        android:layout_marginTop="8dp"
                        android:orientation="horizontal">
                        <TextView
                            android:id="@+id/startDateText"
                            android:layout_width="0dp"
                            android:layout_height="wrap_content"
                            android:textColor="@color/green"
                            android:drawablePadding="5dp"
                            android:drawableRight="@drawable/ic_action_from_to"
                            android:layout_weight="0.40" />
                        <TextView
                            android:id="@+id/endDateText"
                            android:layout_width="0dp"
                            android:layout_height="wrap_content"
                            android:layout_weight=".40"
                            android:layout_marginLeft="8dp"
                            android:textColor="@color/green" />
                    </LinearLayout>
                    <LinearLayout
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:orientation="horizontal">
                        <TextView
                            android:layout_marginTop="8dp"
                            android:id="@+id/leaveTypeText"
                            android:layout_width="0dp"
                            android:layout_height="wrap_content"
                            android:drawablePadding="5dp"
                            android:layout_weight="0.40"
                            android:drawableLeft="@drawable/ic_action_leave_type"
                            android:textColor="@color/TextGray"
                            android:textSize="@dimen/normal_text" />
                        <TextView
                            android:layout_marginTop="8dp"
                            android:id="@+id/employeeNameText"
                            android:layout_width="0dp"
                            android:layout_height="wrap_content"
                            android:layout_weight="0.40"
                            android:drawablePadding="5dp"
                            android:drawableLeft="@drawable/ic_action_user"
                            android:textColor="@color/TextGray"
                            android:textSize="@dimen/normal_text" />
                    </LinearLayout>
                </LinearLayout>
                <include
                    android:layout_weight="0.25"
                    android:id="@+id/linearFour"
                    android:visibility="gone"
                    layout="@layout/MyLeaveLayoutMain" />
            </LinearLayout>
            <View
                android:layout_width="match_parent"
                android:layout_height="0.5dp"
                android:background="#ccc" />
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:weightSum="1"
                android:id="@+id/statusLeaveLayout"
                android:background="@color/white"
                android:visibility="gone"
                android:orientation="horizontal"
                android:layout_marginLeft="8dp"
                android:layout_marginRight="8dp">
                <LinearLayout
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:gravity="center_vertical|center_horizontal"
                    android:layout_weight="0.49">
                    <TextView
                        android:id="@+id/approveText"
                        android:layout_width="wrap_content"
                        android:layout_height="40dp"
                        android:text="@string/Approve"
                        android:gravity="center_vertical"
                        android:drawablePadding="5dp"
                        android:textSize="@dimen/medium_text"
                        android:textColor="@color/green"
                        android:drawableLeft="@drawable/ic_action_approved"
                        android:background="@color/white" />
                </LinearLayout>
                <View
                    android:layout_width="1dp"
                    android:layout_height="fill_parent"
                    android:background="#ccc"
                    android:visibility="visible" />
                <LinearLayout
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:gravity="center_vertical|center_horizontal"
                    android:layout_weight="0.49">
                    <TextView
                        android:id="@+id/cancelText"
                        android:layout_width="wrap_content"
                        android:layout_height="40dp"
                        android:text="@string/Reject"
                        android:textSize="@dimen/medium_text"
                        android:background="@color/white"
                        android:textColor="@color/Red"
                        android:drawablePadding="5dp"
                        android:gravity="center_vertical"
                        android:drawableLeft="@drawable/ic_action_cancel_red" />
                </LinearLayout>
            </LinearLayout>
        </LinearLayout>
    </android.support.v7.widget.CardView>
</FrameLayout>